/**
* 功能：索引页的样式设置
* 日期：2016-7-1
**/
/**********************************************/
/* 共用样式 */
/**********************************************/
/* box-sizing */
header, header .topNav li, .main .leftNav {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* position: absolute */
header .logo, header .topNav, .main .leftNav { position: absolute; }
/* position: relative */
header, .main, .main .content {
    position: relative;
}
/* user-select */
header, .main .leftNav, .toggleDynamicAnchor, .dynamicAnchor {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* display:block*/
.leftNav li a {
    display: block;
}
/* float: left; */
.main .leftNav {
	float: left;
}

/**********************************************/
/* 细节设置 */
/**********************************************/
body,html {
    height: 100%;
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
}
header {
    width: 100%; height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
}
header .logo {
    width: 256px; height: 51px;
    background: url("../img/bgi/logo.png") no-repeat;
    left: 10px; top: 4px;
}
/* 主导航栏 */
header .topNav {
    right: 10px; bottom: 0;
    overflow: hidden;
}
header .topNav li {
    width: 120px; height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    float: left;
    display: block;
    margin-left: 1px;
    transition: all 0.2s;
    cursor: pointer;
}
header .topNav li:hover, header .topNav li.checked {
    background-color: #11278a;
    border-top: 2px solid #2a90d1;
    font-size: 18px;
    color: #fff;
}
header .topNav li.checked {
    border-top: 6px solid #2a90d1;
    box-shadow: 0 3px 5px rgba(5, 12, 39, 0.6) inset;
}
header .topNav li:active {
    background-color: #2f4ac1;
    border-top: 2px solid #5c76e6;
    color: #fff3ea;
}
/* main */
.main {
    width: 100%; height: calc(100% - 60px);
    overflow: hidden;
}
/**** 左侧动态导航栏 ****/
.main .leftNav {
	width: 220px; height: 100%;
    background-color: #fff;
    border-right: 1px solid #e3e3e3;
    padding-top: 12px; padding-bottom: 12px;
    margin-left: -215px;
    transition-duration: 0.2s;
    left: 0; top: 0;
    z-index: 2;
}
.main .leftNav:hover {
    margin-left: 0;
}
/* 使内容容器水平向右滑动 */
.main .leftNav:hover+.content {
    margin-left: 220px;
}
.leftNav li {
    line-height: 38px;
    padding: 2px 15px;
}
.leftNav li a {
    border-radius: 14px;
    border-top-right-radius: 96%;
    border-bottom-right-radius: 96%;
    border-bottom: 2px solid #ddd;
    text-decoration: none;
    text-align: center;
    text-indent: -1.5em;
    font-size: 16px;
    color: #666;
}
.leftNav li a:hover, .leftNav li a.checked {
	background-color: #324ece;
    border-bottom: 2px solid #536fe8;
    box-shadow: 2px 2px 4px rgba(3, 7, 28, 0.3);
    color: #d8d8d8;
}
.leftNav li a.checked {
    background-color: #11278a;
    color: #fff;
    animation: sendNavButton 0.9s cubic-bezier(.31, 0, .57, .01);
}
/* 页面主要内容 */
.main .content {
    width: calc(100% - 5px);/*width: calc(100% - 220px);*/ height: 100%;
    margin-left: 5px;
    /* margin-left: 220px;*/
    transition-duration: 0.2s;
    overflow-y: auto;
}
/* 动态锚点导航 */
.toggleDynamicAnchor {
    width: 78px; height: 30px;
    background-color: rgba(17, 39, 138, 0.05);
    border: 1px solid rgba(227, 227, 227, 0.1);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 60px; right: 20px;
    transition: all 0.15s linear;
    cursor: pointer;
}
.toggleDynamicAnchor:hover {
    background-color: #11278a;
    border-color: #213aac;
    color: #fff;
}
.dynamicAnchor {
    position: fixed;
    top: 92px; right: 21px;
    display: none;
}
.dynamicAnchor ul {
    min-width: 220px; max-height: 512px;
    background-color: #fff;
    border-radius: 8px;
    list-style: none;
    overflow: hidden;
    overflow-y: auto;
    padding: 0; margin: 0;
    box-shadow: 0 2px 4px rgba(97, 108, 118, 0.3);
}
.dynamicAnchor ul li {
    width: 100%; height: 32px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: none;
    box-sizing: border-box;
}
.dynamicAnchor ul li:hover {
    border-left: 4px solid #11278a;
    border-right: 4px solid #11278a;
}
.dynamicAnchor ul li:first-child {
    border-top: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.dynamicAnchor ul li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dynamicAnchor ul li a {
    width: 100%; height: 100%;
    padding: 0 12px;
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
    color: #666;
    white-space: nowrap;
    display: block;
    box-sizing: border-box;
}
.dynamicAnchor ul li a:hover {
    color: #11278a;
}
/* 回到页面顶部 */
a.toWinTop {
    width: 48px; height: 48px;
    background: url("../img/content/toWinTop.png") no-repeat;
    display: block;
    position: fixed;
    bottom: -48px; right: 20px;
    transition-duration: 0.6s;
    opacity: 0.1;
}
a.toWinTop:hover {
    opacity: 1;
}
/* 横向分辨率小于1066时限制显示 */
aside.displayRestriction {
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    display: none;
    z-index: 9999;
}
aside.displayRestriction p {
    text-align: center;
    padding: 0 20px;
    font: 36px/160% "微软雅黑";
    color: #aaa;
    position: absolute;
    top: 50%;
    margin-top: -80px;
}

/**********************************************/
/* 动画设置 */
/**********************************************/
@-webkit-keyframes sendNavButton {
    0% { 
        transform: translate(0px, 0px);
        opacity: 1;
    }
    100% { 
        transform: translate(1280px, 0px);
        opacity: 0;
    }
}

/* 横向分辨率小于1066时限制显示 */
@media screen and (max-width:1066px) {
    aside.displayRestriction {
        display: block;
    }
}
