@charset "utf-8";
    /* 子选择器 */
    article > p > span {
        font-size: 20px;
        color: #239923;
    }
    article > .paragraph {
        line-height: 160%;
        margin: 0; padding: 10px;
    }
    #userLogin > form {
        width: 660px; height: auto;
        margin: 0 auto; padding: 20px;
    }
    div > #userName {
        font-style: italic;
    }






