@charset "utf-8";
    /* 群组选择器 */
    div,a,input,p,.txtSpan {
        line-height: 180%;
        font-size: 20px;
        color: #393;
    }
    a {
        color: #2399dd;
    }
    .txtSpan {
        font-family: "华文行楷";
        font-size: 32px;
    }







