<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Vue基础原理</title>
	<link rel="shortcut icon" href="../../source/favicon.ico">
	<link rel="bookmark" href="../../source/favicon.ico">
	<link rel="stylesheet" href="../plugin/bootstrap.min.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/base.css">
</head>
<body>
	<header>
		<nav>
			<ul class="breadcrumb">
				<li><a href="../index.html">首页</a></li>
				<li class="active">Vue基础原理</li>
			</ul>
		</nav>
	</header>
	<main>
		<article>
			<h1>Vue基础原理</h1>

			<section id="app-1">
				<p>{{ message }}</p>
			</section>

			<section v-bind:title="title" id="app-2">
				<h2 class="section_h2">#app-2：</h2>
				<p>将鼠标移过来</p>
			</section>

			<section id="app-3">
				<h2 class="section_h2">#app-3</h2>
				<p v-if="show">我是会显示出来</p>
				<p v-if="hide">#我不会显示出来</p>
				<p v-if="hide">#我不会显示出来</p>
			</section>

			<section id="app-4">
				<h2 class="section_h2">#app-4：</h2>
				<ul>
					<li v-for="car in carInfo">
						{{car.name + '的售价为：￥' + car.price}}
					</li>
				</ul>
			</section>

			<section id="app-5">
				<h2 class="section_h2">#app-5：</h2>
				<p>{{ content }}</p>
				<button v-on:click="addText" class="btn btn-default">添加文本内容</button>
			</section>

			<section id="app-6">
				<h2 class="section_h2">#app-6：</h2>
				<input v-model="text" type="text" class="form-control">
				<span class="text-success">{{ text }}</span>
			</section>

			<section id="app-7">
				<h2 class="section_h2">#app-7：</h2>
				<a v-bind:href="url" target="_blank">页面跳转</a>
			</section>
		</article>
	</main>

	<script src="../plugin/vue.min.js"></script>
	<script src="../js/base.js"></script>
</body>
</html>