<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Vue组件基础</title>
	<link rel="shortcut icon" href="../../source/favicon.ico">
	<link rel="bookmark" href="../../source/favicon.ico">
	<link rel="stylesheet" href="../plugin/bootstrap.min.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/component.css">
</head>
<body>
	<header>
		<nav>
			<ul class="breadcrumb">
				<li><a href="../index.html">首页</a></li>
				<li class="active">Vue组件基础</li>
			</ul>
		</nav>
	</header>

	<main>
		<article>
			<h1>Vue组件基础</h1>

			<section id="app-1">
				<h2 class="section_h2">#app-1：</h2>
				<comp-item></comp-item>
			</section>

			<section id="app-2">
				<h2 class="section_h2">#app-2：</h2>
				<ul>
					<li-carinfo-item v-for="car in high_carInfo" v-bind:carprop="car" v-bind:key="car.id"></li-carinfo-item>
				</ul>
			</section>

			<section id="app-3">
				<h2 class="section_h2">#app-3：</h2>
				<ul>
					<li-carinfo-item v-for="car in norm_carInfo" v-bind:carprop="car" v-bind:key="car.id"></li-carinfo-item>
				</ul>
			</section>

			<section id="app-4">
				<h2 class="section_h2">#app-4：</h2>
				<ul class="mr-100">
					<li-carinfo-item v-for="mobike in lowe_mbick" v-bind:carprop="mobike" :key="mobike.id"></li-carinfo-item>
				</ul>
				<ul class="mr-100">
					<li-carinfo-item v-for="mobike in norm_mbick" v-bind:carprop="mobike" :key="mobike.id"></li-carinfo-item>
				</ul>
				<ul>
					<li-carinfo-item v-for="mobike in high_mbick" v-bind:carprop="mobike" :key="mobike.id"></li-carinfo-item>
				</ul>
			</section>

		</article>
	</main>

	<script src="../plugin/vue.min.js"></script>
	<script src="../js/component.js"></script>
</body>
</html>