<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="author" content="Auelnce,aulence@foxmail.com">
	<title>Vue构造实例</title>
	<link rel="shortcut icon" href="../../source/favicon.ico">
	<link rel="bookmark" href="../../source/favicon.ico">
	<link rel="stylesheet" href="../plugin/bootstrap.min.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/component.css">
</head>
<body>
	<header>
		<nav>
			<ul class="breadcrumb">
				<li><a href="../index.html">首页</a></li>
				<li class="active">Vue构造实例</li>
			</ul>
		</nav>
	</header>

	<main>
		<article>
			<h1>Vue构造实例</h1>

			<section id="app-1">
				<h2 class="section_h2">#app-1：</h2>
				<input v-model="setName" type="text" class="form-control">
				<p>{{setName}}</p>
			</section>

			<section id="app-2">
				<h2 class="section_h2">#app-2：</h2>
				<input v-model="setName" type="text" class="form-control">
				<p>
					原来的值是：
					<span class="oldVal"></span>
				</p>
				<p>
					现在的值是：
					<span class="newVal">{{setName}}</span>
				</p>
			</section>

			<section id="app-3">
				<h2 class="section_h2">#app-3：</h2>
				<p class="content"></p>
			</section>
		</article>
	</main>

	<script src="../plugin/vue.min.js"></script>
	<script src="../js/constructor.js"></script>
</body>
</html>