@charset "utf-8";
/**
* 功能：索引页样式控制
* 日期：2014年9月24日
* 作者：Verning Aulence
**/

/* 内面主体内容 */
.main { width: 960px; height: auto; overflow: hidden; margin: 0 auto;}

/* 标题栏 */
.indexHeader { width: 288px; height: 38px; background: url("../img/sprites_ele.png") 0 0 no-repeat; margin: 30px 0 }

/* 内容主体 */
.article { width: 100%; height: auto; overflow: hidden; margin-bottom: 80px; }

/* 功能块 */
.article section { border-width: 1px; border-style: solid; border-color: #f7faff #7ccced #5cacdd #7ccced }
.article section:last-child { border-bottom: 1px solid #5cacdd }
.article section:first-child { border-top: 1px solid #5cacdd }

/* 功能块标题 */
.article section > h1 { height: 50px; background: #7ccced; font: bold 18px/50px"宋体"; text-indent: 10px; color: #fff; position: relative; cursor: pointer }
.article section:first-child > h1 { border-top: 1px solid #f7faff }

/* 功能块标题——收展按钮 */
.icon-plus, .icon-minus { line-height: 50px; position: absolute; top: 0; right: 12px }

/* 功能块内容 */
.article section > div { padding: 20px 10px 20px; font: normal 14px "宋体"; display: none; }
.article section:first-child > div { display: block; }
.article section > div > p, .stagesRateDet { text-indent: 2em; color: #6c6c6c; line-height: 1.6em; padding-bottom: 12px }

/* 分期期数利率详情 */
.stagesRateDet { width: 396px; height: auto; padding: 10px 20px 20px; background-color: #eaf3ff; border-radius: 12px; border: 1px solid #7ccced; text-indent: 0; margin-left: 33px }
.stagesRateDet > p { padding-bottom: 10px }

/******************************************************
					账单分期计算部分
******************************************************/

/* 单笔分期表单行 */
.singleByStage { line-height: 36px; padding: 12px 0 8px 0; border-bottom: 1px dashed #7ccced;}
.singleByStage:last-child { border-bottom: none;}

/* 分期期数和利息率、链接线和其他标签类说明 */
.lblStagesRate, .hrStagesRate, .lblOhter { height: 24px; line-height: 24px; padding: 0 4px; text-indent: 0; display: inline-block }
.stagesRateDet > p .lblStagesRate:first-child { width: 50px }
.stagesRateDet > p .lblStagesRate:last-child { width: 60px }
.lblStagesRate { color: #f79107 }
.lblOhter { width: 140px; text-align: right; color: #3a9fc9 }
.hrStagesRate { width: 248px; height: 1px; border-bottom: 1px dashed #6c6c6c; overflow: hidden; white-space: nowrap; vertical-align: middle; letter-spacing: 4px }

/* 分期字体图标设置 */
.icon-calendar, .icon-calculate { display: inline-block; padding-right: 4px }

/* 数值单位字体 */
.units { font-size: 14px; color: #3c3c3c; }

/**** 表单部分 ****/
/* 单行分期计算结果项 */
.result_single {
    width: 160px; 
    display: inline-block;
}
.lblStyle_80 { width: 80px; display: inline-block; text-align: right;}
.lblStyle_120 { width: 120px; display: inline-block; text-align: right;}
/* 下拉框设置 */
select[id^="byStage"] { outline: none;}
/* 分期利息额 */
#allCurint, #allTotalint, #allTotal, #notByStages_least, #notByStages_least_int { font: bold 22px "Arial"; vertical-align: sub;}

