@charset "utf-8";
/**
* 功能：面试口才技巧页面设置
**/
body {
    font-family: "微软雅黑";
    font-size: 16px;
}
h1 {
    font: 1.5em/2.4 "微软雅黑";
    text-align: center;
}
article {
    width: 960px;
    margin: 0 auto;
}
article h2 {
    font: normal 1.2em "微软雅黑";
    line-height: 2;
    margin-top: 26px;
}
article p {
    line-height: 1.6;
    text-indent: 2em;
    color: #666;
    margin-top: 18px;
}
@media screen and (max-width:1024px) {
    article {
        width: auto;
        padding: 0 12px;
    }
}
