@charset "utf-8";
/**
* 功能：网站首页设置
* 最后修改日期：2015年6月8日
* 作者：魏叶
**/

/* 首页大标题 */
.home_h1 { width: 431px; height: 35px; background-position: 0 0; margin: 34px auto 50px;}

/* 图文链接——单列图 */
.imgLink_area { overflow: hidden;}
.imgLink_area img { width: 100%; height: 100%; border: 1px solid #bfbfbe; box-sizing: border-box;}
.img_cols-ss, .img_cols-sd, .img_cols-ds { display: block; float: left; overflow: hidden;}

/* 图文链接——单列图 */
.img_cols-ss { width: 388px; height: 388px;}

/* 图文链接——双列图 */
.img_cols-sd { width: 814px; height: 388px;}

/* 图文链接——双行单列图 */
.img_cols-ds { width: 388px; height: 814px;}

/* 微博窗口 */
.m_blogWin { width: 100%; height: 100%; border: 1px solid #bfbfbe;}

/* 幻灯片列表区 */
.imgLink_area .slideList {
    position: relative;
}
.imgLink_area .slideList img {
    position: absolute;
    left: 0;
    display: none;
}
.imgLink_area .slideList img.show {
    display: block;
}
