@charset "utf-8";
/**
 * 功能：角色图表样式
 * 日期：2017/3/30
 **/

/**************************************************/
/* 样式初始化设置部分 */
/**************************************************/


/**************************************************/
/* 细节样式设置部分 */
/**************************************************/
#roleCharts {
    width: 100%;
    height: 480px;
    background-color: #efefef;
    margin-top: 20px;
}

