@charset "utf-8";
/**
 * 功能：首页表格样式设置
 * 日期：2017/4/2
 **/
tamplate {
    display: block;
    overflow: hidden;
}
/**** 表格和图表区 ****/
.tableCharts {
    margin-top: 20px;
}
/* 表格基本设置 */
table {
    /*user-select: none;*/
    cursor: default;
}
table thead tr {
    background-color: #8064ad;
}
table tbody tr:nth-child(even) {
    background-color: #ebe6f4;
}
table tbody tr:last-child {
    border-bottom: 1px solid #8064ad;
}
table.table th {
    font-weight: normal;
    color: #ffffff;
}
table.table tr td {
    line-height: 1.6;
    color: #666666;
}
/* 表格基本元素样式设置 */
table td a {
    padding: 4px 6px;
    color: #6f5499;
    cursor: pointer;
}
table td a:hover {
    color: #9175c1;
}

/**** 角色属性设置 ****/
table .property span, table .skill span {
    padding: 2px 6px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
}
/* 角色属性设置——普通 */
table .property span.normal {
    background-color: #666666;
}
/* 角色属性设置——水 */
table .property span.water {
    background-color: #2396fd;
}
/* 角色属性设置——火 */
table .property span.fire {
    background-color: #fd5026;
}
/* 角色属性设置——土 */
table .property span.soil {
    background-color: #a26d23;
}
/* 角色属性设置——木 */
table .property span.wood {
    background-color: #79b042;
}
/* 角色属性设置——钢 */
table .property span.steel {
    background: linear-gradient(180deg, #acacac, #d3d3d3, #acacac);
}
/* 角色属性设置——雷 */
table .property span.thunder {
    background-color: #635da2;
}
/* 角色属性设置——光 */
table .property span.light {
    background-color: #ffa031;
}
/* 角色属性设置——暗 */
table .property span.dark {
    background-color: #372b35;
}
/* 角色属性设置——飞行 */
table .property span.fly {
    background-color: #72897f;
}
/**** 角色图表 ****/
#rolePropPie {
    height: 360px;
}
/**** 角色图文展示区 ****/
.roleGraphic {
    margin-top: 20px;
    margin-bottom: 10px;
}
.roleGraphic .thumbnail {
    border-color: #d9d0e6;
    transition: all 0.15s ease-in;
}
/* 鼠标悬浮后的浮出效果 */
.roleGraphic .thumbnail:hover {
    border-color: #ebeafa;
    box-shadow: 0 5px 20px rgba(111, 84, 153, 0.2);
}
.roleGraphic .description {
    height: 130px;
    line-height: 26px;
    overflow-y: scroll;
}
.roleGraphic .btn-primary {
    background-color: #6f5499;
}
.roleGraphic .btn-primary:active {
    background-color: #5f4485;
}
.roleGraphic .description::-webkit-scrollbar-track-piece {
    background-color: transparent;
    box-shadow: none;
}
.roleGraphic .description::-webkit-scrollbar-thumb {
    background-color: #ab97c6;
    border-radius: 7px;
    cursor: hand;
}
.roleGraphic .description:hover::-webkit-scrollbar-thumb:vertical {
    background-color: #d2bdee;
}