@charset "utf-8";
/**
 * 功能：索引页样式设置
 * 日期：2017/4/15
**/

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #35495e;
}

.vue-icon {
    width: 32px;
    height: 32px;
    background: url("../../source/logo-32x32.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
